// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white:#f4f6ff;
$yellow:#f3c623;
$blue:#127681;
$deep_blue:#10375c;
